:root {
    font-family: "Helevetica",sans-serif; 
    font-weight: bold;
    
}

label {
    color: white;
}

span {
    color: white;
}


h3 {
    color: white;
}

h2 {
    color: white;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

legend {

    color: white;

}

#graphics-pane {
    border: 2px solid black;
    width: 85%;
    background-color: #222;
}

#controls {
    width: 15%;
    min-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 5px;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: auto;
    padding-bottom: 30px;
    background-image: linear-gradient(blue, silver, purple)
}

#controls header {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

#controls header:first-child {
    border-top: none;
}

#controls fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#controls fieldset legend {
    font-size: 0.8rem;
}

.input-container {
    display: flex;
    gap: 5px;
    text-align: left;
    font-size: 1rem;
    padding: 0 5px;
}

.input-container input {
    width: 100px;
    margin-left: auto;
}

.input-container label {
    font-size: 0.8rem;
}

.posButtonAction {
    background-color: green;
    color: black;
    border: 0px;
    transition-delay: 0.1s;
}

.posButtonAction:hover {
    background-color: rgb(187, 247, 187);
    color: black;
}

.posButtonAction span:after {
    content: "\2795";
    position: relative;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.posButtonAction:hover span:after {
    opacity: 1;
    right: 0;
}

.negButtonAction {
    background-color: lightcoral;
    color: darkblue;
    border: 0px;
    transition-delay: 0.1s;
}

.negButtonAction:hover {
    background-color: rgb(246, 163, 163);
    color: black;
}

.negButtonAction span:after {
    content: "\2796";
    position: relative;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.negButtonAction:hover span:after {
    opacity: 1;
    right: 0;
}

.startButton {
    background-color: aquamarine;
    color: darkblue;
    border: 0px;
}
